In [4]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(np.random.randn(5000,1),columns=['Randoms'])

In [13]:
df.mean()

Randoms   -0.017912
dtype: float64

In [15]:
df.std()

Randoms    0.994594
dtype: float64

In [27]:
filter_outliers = np.abs(df['Randoms'] - df['Randoms'].mean()) > (3 * df['Randoms'].std())

In [30]:
df.loc[filter_outliers,:].head(20)

       Randoms
763   2.979875
927   3.357928
1393 -3.774564
1896  3.446385
2464  3.050518
2538  3.067583
3167  3.076143
3180  3.040723
3295  3.644919
3413  3.000892
3420  3.272979
3509  3.007196
3517 -3.092300
3950 -3.492702
4039  3.018380
4301 -3.140392
4316 -3.811279
4714  2.986247
4873  3.008587

In [12]:
df.to_csv('randoms.csv',header=True)