In [4]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(np.random.randn(5000,1),columns=['Randoms'])

In [13]:
df.mean()

Randoms   -0.017912
dtype: float64

In [15]:
df.std()

Randoms    0.994594
dtype: float64

In [27]:
filter_outliers = np.abs(df['Randoms'] - df['Randoms'].mean()) > (3 * df['Randoms'].std())

In [29]:
df.loc[filter_outliers,:].describe()

         Randoms
count  19.000000
mean    1.402480
std     2.996369
min    -3.811279
25%    -0.056212
50%     3.008587
75%     3.071863
max     3.644919

In [12]:
df.to_csv('randoms.csv',header=True)